.image
  width 100px
  height 100px

.title
  font-size 5u
  margin-top 3u

.header
  align-items center
  text-align center
  margin-top 10u

.headerTextLink
  border-bottom 1px dashed black

.content
  width 40u
  margin-top 3u
