.body
  border-radius 1u
  background-color white
  margin-top 10u
  +wide()
    width 1250px

.headerButtonsContainer
  display none
  +tablet()
    width 100%
    border-radius 1u 1u 0 0
    padding 1u 0
    background-color #f7f7f7
    justify-content center
    display flex
    flex-direction row

.headerBtn
  border-radius 2u
  padding 1u 4u
  &.active
    background-color white

.bodyContainer
  padding 2u
  +wide()
    align-items center
  
.image
  border 1px
  margin 5px
  border-radius 10u
  width 10u
  height 10u
  +tablet()
    border-radius 30u
    width 16u
    height 16u
  &.first
    border none 
    width 16u
    height 16u
    +tablet()
      height 30u
      width 30u

.magnaContainer
  align-items center

.imageContainerMain
  margin-top 5u
  border-radius 15u
  border 1px solid gray

.mainTitleBorder
  margin-top 2u
  border-bottom 3px solid pink
  width 15u

.contentContainer
  align-items center
  +desktop()
    width 70u
    align-items baseline

.longText
  +desktop()
    column-count 2
    column-gap 3u
    padding 0 2u
    word-break break-word

.mainTitle
  font-size 3u
  margin-top 5u

.title
  font-size 2u
  margin-top 2u

.firstSectionContent
  padding 2u
  width 36u

.content
  margin-top 3u
  width 70%
  &.first
    +desktop()
      text-align start

.contentBlockContainer
  +tablet()
    justify-content center
    flex-direction row
    flex-wrap wrap
    
.contentBlock
  padding 0 3u 5u 3u
  align-items center  
  text-align center
  border-bottom 2px solid gray
  &.first
    +desktop()
      justify-content space-around
      flex-direction row-reverse
  &.last
    border-bottom none
    border-top 2px solid gray
  &.middle
    border-bottom none

.statisticBlock
  padding 2u
  overflow hidden
  +tablet()
    padding 2u 5u
    justify-content center
    flex-direction row

.imageContainer
  align-items center
  padding-bottom 3u 
  +tablet()
    width 20%
  &.first
    border-radius 2u 2u 0 0
    +tablet()
      border-radius 2u 0 0 2u
  &.last
    border-radius 0 0 2u 2u
    +tablet()
      border-radius 0 2u 2u 0

.statisticImage
  width 10u
  height 10u
  margin-top 3u

.statisticContent
  padding 5u 3u
  +tablet()
    padding 5u
  word-break break-all
  text-align justify
  align-items center

.numbers
  font-size 3u
  padding 2u 0 1u 0
  text-align center

.name
  font-size 25px
  +tablet()
    font-size 2u

.btn
  margin-top 2u
  justify-content center
  align-items center
  border 1px solid gray
  width 100%
  height 5u
  border-radius 1u
  +tablet()
    width 25u
  +desktop()
    margin-left 0
  &.getStarted
    background-color #8cc9f0
  &.statisticBtn
    margin-top 3u

.lastBlockContainer
  align-items center

.btnGroup
  margin-top 4u
  align-items center
  width 100%
  +tablet()
    width 70%
    justify-content space-evenly
    flex-direction row