.title
  font-size 3u
  margin-top 5u
  padding-bottom 3u

.contactsName
  padding 2u 0
  flex-direction row
  justify-content space-around

.block1
  font-weight bold
  flex-basis 30%

.block2
  flex-basis 70%

.footer
  padding 2u
  +wide()
    align-items center 

.footerText
  font-size 12px
  +tablet()
    padding 0 10u
  +desktop()
    text-align center

.footerTextLink
  border-bottom 1px dashed black
  
.contactsIcons
  padding 5u 0
  flex-direction row

.contactsImage
  width 3u 
  height 3u
  margin-left 3u
  &.first
    margin-left 0

.btn
  margin-top 3u
  justify-content center
  align-items center
  border 1px solid gray
  width 100%
  height 5u
  border-radius 1u
  +tablet()
    width 25u

.footerContainer
  +tablet()
    padding 0 10u
  +desktop()
    padding 0 10u 4u 10u
    flex-direction row
  +wide()
    width 1250px

.contentContainer
  +desktop()
    width 50%

.contacts
  +desktop()
    margin-left 8u
    width 40%
